.popup {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  display: none;
}

@media screen and (min-width: 390px) {
  .popup {
    padding: 0 40px;
  }
}